<li><a href="/sedes">Sedes</a></li>
<li><a href="/eventos">Eventos</a></li>
<li><a href="/escuela">Escuelas</a></li>
<li><a href="/jueces">Jueces</a></li>
<li><a href="/jurado">Jurados</a></li>
<li><a href="/reportes">Reportes</a></li>