<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Página no encontrada</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bos">
  <h1 class="error-title">Página no encontrada</h1>
  <p class="error-message">Intenta con otro enlace</p>
  <img style="height: 400px;" src="../imgs/404.jpeg" alt="">
  <br><br>
  <a href="/" class="error-link">Volver al Inicio</a>
</body>
</html>
