<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Actualizar Alunmo</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bo">
  <h2 class="l">Actualizar Alunmo</h2>
  <form class="add-event-form">
    <input type="text" readonly  id="nombreAntiguo" name="nombrealunmo" value="{{nombre_integrante}}">

    <label for="nombreEvento">Nombre del Alunmo:</label>
    <input type="text" id="nombreIn" value="{{nombre}}" oninput="validarLet(this)" required autocomplete="off">

    <label for="sede">Apellido Paterno:</label>
    <input type="text" id="apellido1" value="{{apellido1}}" oninput="validarLet(this)" required autocomplete="off">

    <label for="direccion">Apellido Materno:</label>
    <input type="text" id="apellido2" value="{{apellido2}}" oninput="validarLet(this)" required autocomplete="off">

    <div class="button-group">
      <button class="save-changes-btn" id="btnActualizar">Guardar cambios</button>
      <a href="/alunmo"><button type="button" class="cancel-btn">Cancelar</button></a>
    </div>
  </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../js/expresiones.js"></script>
<script src="../js/actualizarIntegrante.js"></script>
</html>
