<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Actualizar Alunmo</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bo">
  <h2 class="l">Actualizar Alunmo</h2>
  <form class="add-event-form">
    <label for="nombreEvento">Nombre del Alunmo:</label>
    <input type="text" required autocomplete="off">

    <label for="sede">Apellido 1:</label>
    <input type="text" required autocomplete="off">

    <label for="direccion">Apellido 2:</label>
    <input type="text" required autocomplete="off">

     <label for="academico">Nivel Academico:</label>
    <input type="text" required autocomplete="off">

    <div class="button-group">
      <button class="save-changes-btn">Guardar cambios</button>
      <a href="/alunmo"><button type="button" class="cancel-btn">Cancelar</button></a>
    </div>
  </form>
</body>
</html>
