<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Actualizar Jurado</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bo">
  <h2 class="l">Actualizar Jurado</h2>
  <form class="add-event-form">
    <label for="nombreEvento">Nombre del Juez 1:</label>
    <input type="text" name="juez 1" oninput="validarLet(this)" required autocomplete="off">

    <label for="sede">Nombre del Juez 2:</label>
    <input type="text" name="juez 2" oninput="validarLet(this)"  required autocomplete="off">

    <label for="direccion">Nombre del Juez 3:</label>
    <input type="text" name="juez 3" oninput="validarLet(this)" required autocomplete="off">

    <div class="button-group">
      <button class="save-changes-btn">Guardar cambios</button>
      <a href="/jurado"><button type="button" class="cancel-btn">Cancelar</button></a>
    </div>
  </form>
</body>
<script src="../js/expresiones.js"></script>
</html>
