<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Actualizar Sede</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bo">
  <h2 class="l">Actualizar Sede</h2>
  <form class="update-form">
    <input type="text" readonly  id="nombreAntiguo" name="nombreSede" value="{{nombre}}">

    <label for="nombreSedeUpdate">Nombre de la Sede:</label>
    <input type="text" oninput="validarqe(this)"  id="nombreSede" name="nombreSedeUpdate" required autocomplete="off" value="{{nombre}}">

    <label for="direccionSedeUpdate">Dirección:</label>
    <input type="text" oninput="validarqe(this)" id="direccionSede" name="direccionSedeUpdate" required autocomplete="off" value="{{direccion}}">

    <div class="button-group">
      <button type="submit" class="save-changes-btn" id="btnActualizar">Guardar cambios</button>
      <a href="/sedes"><button type="button" class="cancel-btn">Cancelar</button></a>

    </div>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/abc_sede_admin/actualizarSede.js"></script>
    <script src="../js/expresiones.js"></script>
</body>
</html>
