<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Actualizar Sede</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bo">
  <h2 class="l">Actualizar Sede</h2>
  <form class="update-form">
    <label for="nombreSedeUpdate">Nombre de la Sede:</label>
    <input type="text"  name="nombreSedeUpdate" required autocomplete="off">

    <label for="direccionSedeUpdate">Dirección:</label>
    <input type="text"  name="direccionSedeUpdate" required autocomplete="off">

    <div class="button-group">
      <button class="save-changes-btn">Guardar cambios</button>
      <a href="/sedes"><button type="button" class="cancel-btn">Cancelar</button></a>
    </div>
  </form>
</body>
</html>
