<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Agregar Equipo</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bo">
  <h2 class="l">Agregar Nuevo Equipo</h2>
  <form class="add-event-form">
    <label for="nombreEvento">Integrante 1:</label>
    <input type="text" required autocomplete="off">

    <label for="sede">Integrante 2:</label>
    <input type="text" required autocomplete="off">

    <label for="direccion">Integrante 3:</label>
    <input type="text" required autocomplete="off">

    <label for="fechaInicio">Asesor:</label>
    <input type="text" required autocomplete="off">

    <label for="fechaInicio">Nombre de equipo:</label>
    <input type="text" required autocomplete="off">

    <label for="fechaInicio">Evento:</label>
    <input type="text" required autocomplete="off">

    <div class="btn-group">
      <button type="submit" class="save-btn">Guardar Equipo</button>
      <a href="/equipos"><button type="button" class="cancel-btn">Cancelar</button></a>
    </div>
  </form>
</body>
</html>
