<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Agregar Asesor</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bo">
  <h2 class="l">Agregar Nuevo Asesor</h2>
  <form class="add-event-form">
    <label for="nombreEvento">Nombre:</label>
    <input type="text" required autocomplete="off">

    <label for="sede">Apellido 1:</label>
    <input type="text" required autocomplete="off">

    <label for="direccion">Apellido 2:</label>
    <input type="text" required autocomplete="off">

    <label for="fechaInicio">Nivel academico:</label>
    <input type="text" required autocomplete="off">

    <label for="fechaInicio">Correo:</label>
    <input type="text" required autocomplete="off">

    <label for="fechaInicio">Contraseña:</label>
    <input type="text" required autocomplete="off">

    <div class="btn-group">
      <button type="submit" class="save-btn">Guardar Asesor</button>
      <a href="/asesor"><button type="button" class="cancel-btn">Cancelar</button></a>
    </div>
  </form>
</body>
</html>
