<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Agregar Jurado</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bo">
  <h2 class="l">Agregar Nuevo Jurado</h2>
  <form class="add-event-form">
    <label for="nombreEvento">Nombre del Juez 1:</label>
    <input type="text" name="juez 1" required autocomplete="off">

    <label for="sede">Nombre del Juez 2:</label>
    <input type="text" name="sede" required autocomplete="off">

    <label for="direccion">Nombre del Juez 3:</label>
    <input type="text" name="direccion" required autocomplete="off">

    <div class="btn-group">
      <button type="submit" class="save-btn">Guardar Jurado</button>
      <a href="/jurado"><button type="button" class="cancel-btn">Cancelar</button></a>
    </div>
  </form>
</body>
</html>
