<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Alunmos</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="w">
    
    {{>header}}
    <a href="/vista-principal"> <button class="btnCasa"><i class="fa fa-home"></i></button></a>
  <div class="table-header">
    <a href="/agregar-alunmo"><button class="add-btn">Agregar nuevo Alunmo</button></a>  </div>
  <table class="data-table">
  <table class="event-table">
    <thead>
      <tr>
        <th>Nombre del Alunmo</th>
        <th>Apellido 1</th>
        <th>Apellido 2</th>
        <th>Edad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
       {{!-- {{#each resultado}} --}}
      <tr>
         <td>{{this.nombre}}, d</td>
        <td>{{this.apellido1}}, d</td>
        <td>{{this.apellido2}}, 3</td>
        <td>{{this.fechaNacimiento}}, 0</td>
        <td>
          <a href="/actualizar-alunmo"><button class="update-btn">Actualizar</button></a>
          <button class="delete-btn">Eliminar</button>
        </td>
      </tr>
       {{!-- {{/each}} --}}
    </tbody>
  </table>
</body>
</html>
