<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Asesor</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="w">
    
    {{>header}}
    <a href="/vista-principal"> <button class="btnCasa"><i class="fa fa-home"></i></button></a>
  <div class="table-header">
    <a href="/agregar-asesor"><button class="add-btn">Agregar nuevo Asesor</button></a>  </div>
  <table class="data-table">
  <table class="event-table">
    <thead>
      <tr>
        <th>Nombre:</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Nivel academico</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Pepe</td>
        <td>Antonio</td>
        <td>2</td>
        <td>
          <button class="delete-btn">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
