<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Escuelas</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="w">
  
  {{>header}}
    <a href="/vista-principal"> <button style="margin-bottom: 10px;" class="btnCasa"><i class="fa fa-home"></i></button></a>
  <div class="table-header">
    
  <table class="school-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Nivel Escolar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {{#each resultado}}
      <tr>
        <td>{{this.nombre}}</td>
        <td>{{this.nivelEscolar}}</td>
        <td>
          <button type="button" class="delete-btn" id="btnEliminar" data-id-nombre="{{this.nombre}}" data-id-nivelEscolar="{{this.nivelEscolar}}">Eliminar</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/abc_institucion_admin/bajaInstituto.js"></script>
</body>
</html>
