<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Jurado</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="w">
    
    {{>header}}
    <a href="/vista-principal"> <button class="btnCasa"><i class="fa fa-home"></i></button></a>
  <div class="table-header">
    <a href="/agregar-jurado"><button class="add-btn">Agregar nuevo Evento</button></a>  </div>
  <table class="data-table">
  <table class="event-table">
    <thead>
      <tr>
        <th>Numero del jurado</th>
        <th>Juez 1</th>
        <th>Juez 2</th>
        <th>Juez 3</th>
        <th>Categoria</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Pepe</td>
        <td>Antonio</td>
        <td>Gabriela</td>
        <td>Porno</td>
        <td>
          <a href="/actualizar-jurado"><button class="update-btn">Actualizar</button></a>
          <button class="delete-btn">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
