<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Recuperar contrase침a</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bod">
  <div class="forgot-password-container">
    <h2 class="j">Recuperar contrase침a</h2>
    <form action="#" method="POST">
      <div class="input-">
        <label for="email">Correo electr칩nico:</label>
        <input type="email" name="Correo" required autocomplete="off "  id="usCorreo" maxlength="50">
      </div>
      <div class="button">
        <button type="submit" class="send-password-btn" id="btnOlvidarContrasena">Enviar contrase침a</button>
      </div>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/olvidarContrasena.js"></script>
</body>
</html>
