<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Juez | Registro</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bo">
  <h2 class="l">Registro de Juez</h2>
  <form class="add-event-form">
    <label for="nombreEvento">Nombre:</label>
    <input type="text" required autocomplete="off">

    <label for="sede">Apellido Paterno:</label>
    <input type="text" required autocomplete="off">

    <label for="direccion">Apellido Materno:</label>
    <input type="text" required autocomplete="off">

    <label for="fechaInicio">Direccion:</label>
    <input type="text" required autocomplete="off">

    <label for="fechaInicio">Nivel Academico:</label>
    <input type="text" required autocomplete="off">

    <label for="fechaInicio">institucion a la que pertenece:</label>
    <input type="text" required autocomplete="off">

    <label for="fechaInicio">Correo:</label>
    <input type="text" required autocomplete="off">

    <label for="fechaInicio">Contraseña:</label>
    <input type="text" required autocomplete="off">

    <div class="btn-group">
      <button type="submit" class="save-btn">Registrarse</button>
      <a href="/iniciar"><button type="button" class="cancel-btn">Cancelar</button></a>
    </div>
  </form>
</body>
</html>
