<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Sedes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="w">

    {{>header}}
    <a href="/vista-principal"> <button class="btnCasa"><i class="fa fa-home"></i></button></a>
  <div class="table-header">
    <a href="/agregar-sede"><button class="add-btn">Agregar nueva sede</button></a>  </div>
  <table class="data-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    {{#each resultado}}
      <tr>
        <td>{{this.nombre}}</td>
        <td>{{this.direccion}}</td>
        <td>
          <button class="delete-btn" data-id-sede={{this.nombre}} id="btnBorrar">Borrar</button>
          <a href="/actualizar-sede"><button class="update-btn" {{this.nombre}}>Actualizar</button></a>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  <script src="/js/abc_sede_admin/bajaSede.js"></script>
</body>
</html>
