<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Sedes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="w">

    {{>header}}
    <a href="/vista-principal"> <button class="btnCasa"><i class="fa fa-home"></i></button></a>
  <div class="table-header">
    <a href="/agregar-sede"><button class="add-btn">Agregar nueva sede</button></a>  </div>
  <table class="data-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ejemplo</td>
        <td>Calle Ejemplo</td>
        <td>
          <button class="update-btn">Actualizar</button>
          <button class="delete-btn">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
