<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>General</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bob">
    {{>header}} 
  <div class="container">
  <nav class="sidebar">
    <ul class="top-nav">
      {{#if (controlVistaAdmin puesto)}}
      {{>btnAdmin}}
      {{/if}}
      {{#if (controlVistaInstituto puesto)}}
      {{>btnEscuela}}
      {{/if}}     
      {{#if (controlVistaJuez puesto)}}
      {{>btnJuez}}
      {{/if}}     
      <li><a href="/cerrar-sesion">Cerrar sesión</a></li>
      </ul>
  </nav>

  <main>
    <h1 style="font-size: 'Roboto', sans-serif;">¡Bienvenido!</h1>
    <img style="height: 540px;" src="../imgs/robot.jpeg" alt="pongame 100">
  </main>
  </div>
</body>
</html>
