<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>General</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bob">
    {{>header}} 
  <div class="container">
  <nav class="sidebar">
    <ul class="top-nav">
      {{>btnAdmin}}
    </ul>
    <ul>
      {{>btnEscuela}}
    </ul>
    <ul>
      {{>btnJuez}}
    </ul>
  </nav>

  <main>
    <h1 style="font-size: 'Roboto', sans-serif;">¡Bienvenido!</h1>
    <img style="height: 540px;" src="../imgs/robot.jpeg" alt="pongame 100">
  </main>
  </div>
</body>
</html>
