.bod {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    text-align: center;
  }
  
  .h {
    margin-bottom: 30px;
    color: #333;
    font-size: 28px;
  }
  
  .input-group {
    margin-bottom: 25px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
    font-size: 14px;
  }
  
  .input-group input {
    width: calc(100% - 20px);
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
  }
  
  .input-group input:focus {
    outline: none;
    border-color: #3498db;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .login-btn {
    padding: 14px 28px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-btn:hover {
    background-color: #2980b9;
  }
  
  .forgot-password {
    color: #2980b9;
    margin-left: 4px;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
  }
  
  .forgot-password:hover {
    color: #1a5276;
  }
  
  /* acabo el iniciar sesion */

  .forgot-password-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    text-align: center;
  }
  
  .j {
    margin-bottom: 30px;
    color: #333;
    font-size: 24px;
  }
  
  .input- {
    margin-bottom: 25px;
    text-align: left;
  }
  
  .input- label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
    font-size: 14px;
  }
  
  .input- input {
    width: calc(100% - 20px);
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
  }
  
  .input- input:focus {
    outline: none;
    border-color: #3498db;
  }
  
  .button {
    display: flex;
    justify-content: center;
  }
  
  .send-password-btn {
    padding: 14px 28px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .send-password-btn:hover {
    background-color: #2980b9;
  }

  /* termina olvidar contraseña */

  .bob {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
  }
  
  .user-info {
    text-align: right;
  }
  
  .user-name {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .container {
    display: flex;
  }
  
  .sidebar {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    width: 200px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #ecf0f1;
    display: block;
    padding: 16.6px 20px;
    transition: background-color 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #34495e;
  }
  
  main {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
  }
  
  /* termina la vista principal */

.w {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .table-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .add-btn {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    float: right;
  }
  
  .add-btn:hover {
    background-color: #2980b9;
  }

  .data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  .data-table th {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .data-table td {
    font-size: 14px;
  }

  .update-btn, .delete-btn {
    padding: 8px 16px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .update-btn {
    background-color: #27ae60;
    color: #fff;
  }
  
  .delete-btn {
    background-color: #e74c3c;
    color: #fff;
  }
  
  /* termina tabla de sede */

  .btnCasa {
    margin-top: 5px;
    margin-inline: 3px;
    float: right;
    background-color: rgb(0, 0, 0); 
    border: none; /* Remover bordes */
    color: white; /* Texto en blanco */
    padding: 5px 5px; 
    font-size: 16px; 
    cursor: pointer; 
  }
  
  .btnCasa:hover {
    background-color: rgb(37, 46, 72);
  }

  /* btn casa acaba */

  .bo {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .l {
    text-align: center;
    color: #3498db;
  }
  
  .add-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
  }
  
  .add-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
  }
  
  .save-btn, .cancel-btn {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .save-btn {
    background-color: #27ae60;
    color: #fff;
    margin-right: 10px;
  }
  
  .cancel-btn {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .save-btn:hover, .cancel-btn:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
  }
  
  /* termina agregar sede */
  
  .update-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .update-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
  }
  
  .update-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
  }
  
  .save-changes-btn {
    padding: 12px 24px;
    margin-right: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #27ae60;
    color: #fff;
  }
  
  .save-changes-btn:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
  }
  
  /* acabo actualizar sede */
  
  .event-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .event-table th, .event-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  .event-table th {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .event-table td {
    font-size: 14px;
  }
  
  .update-btn, .delete-btn, .add-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .update-btn {
    background-color: #2980b9;
    color: #fff;
  }
  
  .delete-btn {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .add-btn {
    background-color: #27ae60;
    color: #fff;
  }
  
  /* termina eventos */
  
  .add-event-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-event-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
  }
  
  .add-event-form input[type="text"],
  .add-event-form input[type="password"],
  .add-event-form input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .save-event-btn {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #27ae60;
    color: #fff;
  }
  
  .save-event-btn:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
  }

/* termina agregar eventos */

  .school-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .school-table th, .school-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  .school-table th {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .school-table td {
    font-size: 14px;
  }
  
  .delete-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #e74c3c;
    color: #fff;
  }
  
 /*  */
  
 .judges-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .judges-table th, .judges-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  .judges-table th {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .judges-table td {
    font-size: 14px;
  }
  
  /*  */

  .team-btn {
    display: block;
    width: 300px;
    margin: 10px auto;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  .team-btn:hover {
    background-color: #2980b9;
  }
  
/*  */

.bos {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.error-title {
  color: #e74c3c;
  font-size: 36px;
  margin-bottom: 20px;
}

.error-message {
  color: #3498db;
  font-size: 18px;
  margin-bottom: 30px;
}

.error-link {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #3498db;
  color: #fff;
  transition: background-color 0.3s;
}

.error-link:hover {
  background-color: #2980b9;
}
